@import './base.css';


html {
  /* Um in allen Texten Zeilenumbrüche zu ahben, wenn wörter zu lang für eine zeile sind.*/
  overflow-wrap: break-word; /* moderner Standard */
  word-break: break-word;    /* Fallback */
  hyphens: auto;             /* Silbentrennung */
}

a {
  text-decoration: none;
  background-color: var(--Background-Color);
  border: 2px solid var(--General-highlight-Color);
  border-radius: 8px;
  padding: 2px 6px;
  color: var(--General-highlight-Color) !important;
  filter: none !important;
}

button {
  background-color: var(--Background-Color);
  border: 2px solid var(--General-highlight-Color);
  border-radius: 8px;
  padding: 2px 6px;
  color: var(--General-highlight-Color) !important;
  filter: none !important;
}

body {
	background-color: var(--Background-Color);
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

* {
  color: var(--General-highlight-Color);
}

/*#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
